@model SesliKitap.Models.Kategori

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h4>Kategori</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Kategori Adı
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KategoriAdi)
                        </dd>

                    </dl>
                </div>
                </div>
            </div>
        </div>
    </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.KategoriID }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
